@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold text-dark-blue 2xl:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold text-dark-blue 2xl:text-3xl;
  }
  h3 {
    @apply font-bold text-dark-blue;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container {
    width: min(1110px, 100% - 2rem);
    margin-inline: auto;
  }
}
